.masthead {
    height: 25vh;
    min-height: 150px;
    background: no-repeat center scroll url("../assets/banner.png");
    background-size: cover;
}

.keebhead {
    height: 25vh;
    min-height: 150px;
    background: no-repeat center scroll url("../assets/keeb-banner.jpg");
    background-size: cover;
}

.herohead {
    height: 40vh;
    min-height: 150px;
}

.ergodox {
    background: no-repeat center scroll url("../assets/keebs/ergodox/ergodox-hero.jpg");
    background-size: cover;
}

.galleria {
    height: 50vh;
    background: rgb(219, 219, 219);
}

body, .sticky-footer-wrapper {
    min-height:100vh;
}

#sticky-footer {
    flex-shrink: 0;
  }

body {
    height: 100vh;
}